@font-face {
    font-family: 'os-light';
    src: url('../Open_Sans/OpenSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'os-light_italic';
    src: url('../Open_Sans/OpenSans-LightItalic.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'os-semibold';
    src: url('../Open_Sans/OpenSans-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'os-bold';
    src: url('../Open_Sans/OpenSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'os-regular';
    src: url('../Open_Sans/OpenSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'cardo-bold';
    src: url('../Open_Sans/Cardo-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'cardo-regular';
    src: url('../Open_Sans/Cardo-Regular.ttf');
    font-weight: 400;
}